@import '@/styles/var';

.header {
  border-bottom: 1px solid $color-gray;
  background-color: white;
  padding: 1.25rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  a:hover {
    color: $color-primary;
  }
}
