@import '@/styles/var';

.main {
  background-color: $color-background-yellow;
  border-bottom: 1px solid $color-gray;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1.25rem;
  max-width: 70rem;
  height: 925px;

  @include lg {
    flex-direction: column;
    height: fit-content;
  }

  @include xs {
    padding: 2rem 1rem;
  }
}

.referBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 34rem;
  height: 100%;

  padding: 4rem;
  background-color: $color-background-gray-light;
  border: 1px solid $color-gray;
  border-radius: 1rem;

  @include sm {
    width: fit-content;
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4.5rem;

    @include xs {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;

    @include xs {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .disclaimer {
    color: $color-gray-light;
    margin-top: auto;

    @include sm {
      margin-top: 4rem;
    }
  }
}

.referForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .errorMsg {
    position: absolute;
    top: -2rem;
    left: 0px;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #ed6f82;
  }
}

.refBtn {
  @include button;
}

.successBox {
  display: flex;
  align-items: center;
  gap: 1rem;

  figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    font-weight: 700;
    color: $color-gray;
  }
}

.successIcon {
  width: 2rem;
  height: auto;

  @include xs {
    width: 1.5rem;
    height: auto;
  }
}

.emailInput {
  @include inputBox;

  .image {
    width: 1.25rem;
    height: auto;

    @include xs {
      width: 1rem;
    }
  }
}

.copyContainer {
  display: flex;

  @include xs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.copyInput {
  @include inputBox;

  @media (min-width: 480px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  input {
    color: $color-gray-light;
  }
}

.copyBtn {
  @include button;

  @media (min-width: 480px) {
    width: 6rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// STEPS
.stepsBox {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 28rem;
  padding: 4rem 0;

  @include xs {
    padding: 1rem;
  }
}

.stepContainer {
  display: flex;
  justify-content: space-between;

  &:nth-child(2) {
    @include xs {
      flex-direction: column-reverse;
    }
  }

  @include xs {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 1rem;
  }
}

.stepImage {
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    height: 9rem;
    width: auto;
  }
}

.stepText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 16rem;

  @include xs {
    max-width: fit-content;
    padding: 0 1rem;
  }

  span {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: $color-primary;

    @include xs {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 3rem;

    @include xs {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;

    @include xs {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}
